* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    height: 650px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
}



.transform {
    background-color: steelblue;
    width: 200px;
    height: 200px;
    color: #fff;
    font-size: 25px;
    text-align: center;
    position: relative;
}

.transform::before {
    content:' ';
    width: 100%;
    height: 100%;
    background-color: tomato;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.1);
    transform-origin: inherit; /* Heredamos el transform-origin del elemento padre */
    transition: transform 1s linear;
}

/* Transform origin */
.transform:nth-child(1) {
    transform-origin: bottom right;
}

.transform:nth-child(2) {
    transform-origin: center top;
}

.transform:nth-child(3) {
    transform-origin: center bottom;
}

.transform:nth-child(4) {
    transform-origin: center right;
}

.transform:nth-child(5) {
    transform-origin: top right;
}

.transform:nth-child(6) {
    transform-origin: center center;
}

.transform:hover {
    transform: rotate(45deg);
    transition: transform 1s linear;
}
