@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import "tailwindcss";

@theme {
    --font-dancing: "Dancing Script", cursive;
    --font-weight-ligera: 12;
    --color-coral: #F08080;
}

