* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  padding: 40px;
  background-color: #fff;
}

/* Gallery Container */
.gallery {
  max-width: 1200px;
  margin: 0 auto;
}

/* Titulo galeria */
.gallery__title {
  font-size: 1.8rem;
  color: #000;
  font-weight: bold;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 6px solid #6b46c1;
  width: 100%;
}

/* Grid Layout */
.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Gallery Item */
.gallery__item {
  position: relative;
  overflow: hidden;
  height: 250px;
  cursor: pointer;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Efecto Persiana */
.gallery__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(79, 70, 229, 0.6);
  transform: translateY(100%);
  transition: transform 0.5s ease;
}

.gallery__item:hover .gallery__overlay {
  transform: translateY(0);
}
