body {
  font-family: sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

/* ESTILOS section galeria imagenes */
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: 0 auto 80px auto;
  gap: 20px;
}

section img {
  width: calc(33.33% - 14px);
  height: 180px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* ESTILOS GALERÍAS con texto */
.contenedor-principal {
  max-width: 900px;
  margin: 0 auto;
}

.galeria-item {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 50px 0;
}

.texto-contenedor {
  display: flex;
  flex-direction: column;
  width: 60%;
  order: 1;
}

.galeria-item img {
  width: 40%;
  height: 300px;
  order: 2;
}

/* Galería 3: Invertimos el orden visual usando ORDER */
.galeria-item.alternado .texto-contenedor {
  order: 2;
  margin-left: 100px;
}

.galeria-item.alternado img {
  order: 1;
}

.galeria-item h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 5px;
}

.galeria-item p {
  font-size: 0.9em;
  line-height: 1.4;
  margin: 0;
}

/* RESPONSIVE */
/* TAMAÑO TABLET */
@media screen and (min-width: 501px) and (max-width: 800px){
  section img {
    width: 45%;
  }

}

/* TAMAÑO MOVIL */
@media screen and (max-width: 500px){
  section img{
    width: 90%;
  }

  .galeria-item{
    flex-direction: column;
  }
}