* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: 200px 300px auto;
    /* grid-template-rows: 1fr 2fr 1fr; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    /* row-gap: 10px; /*espaciado entre filas*/
    /*column-gap: 40px; */

    /* gap: 5px 10px; primer valor row y el segundo column */

    /*gap: 20px;  pone 20px en row y column*/

    /* grid-auto-flow: column; 
    grid-auto-flow: dense; */

    /*justify-items: start;*/ /*alineacion en el contenedor*/
    /*align-items: center;*/
    /*place-items: end end;*/ /*atajo que engloba las dos anteriores*/

    /* grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px); */
    grid: 100px 150px auto / repeat(2, 1fr); /* atajo de las 2 anteriores. primero row y luego column*/

    /*justify-content: center; /*cuando los hijos no ocupan todo el contenedor usamos estas 2*/
    /*align-content: space-between;*/
    /*place-content: start end; /* atajo de las dos anteriores, primero el align siempre*/

    width: 90%;
    height: 500px;
    margin: 20px auto;
    outline: 3px solid black;
}

.grid__item {
    font-size: 3rem;
    text-align: center;
    border: 1px solid black;
    color: #fff;
}

.grid__item:nth-child(1) {
    background-color: crimson;
    /* grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 2;
    grid-row-end: 3;  */

    /*atajo de lo anterior*/
    /* grid-column: 4/6;

    grid-row: 3/4;  */
}

.grid__item:nth-child(2) {
    background-color: darkmagenta;

    /* grid-column: 2 / span 2;

    grid-row: 1 / span 1; */

    order: -1;
} 

.grid__item:nth-child(3) {
    background-color: steelblue;
    /*grid-area: 2/1/-1/2;*/ /*simplifica las 4 propiedades. orden row column row colum -1 señala hasta el final*/
}

.grid__item:nth-child(4) {
    background-color: brown;

    /* grid-area: 2/2/3/3; */

    /* align-self: center;
    justify-self: end; */
    place-self: start end; /* atajo de las dos anteriores, siempre el align primero*/
}

/*.grid__item:nth-child(5) {
    background-color: chocolate;

    grid-column: 4 / -1;
    grid-row: 1 / -2;
}

.grid__item:nth-child(6) {
    background-color: midnightblue;
}*/