* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    height: 100vh;
}

.clip-path {
    width: 300px;
    height: 300px;
    background-color: black;
    margin: auto; /* Centra el elemento si el padre tiene display flex */
    /* clip-path: circle(50% at center);
    clip-path: circle(20% at 50% 0%); */
    /* clip-path: inset(0% 50% 0% 0% round 20px); */
    /* clip-path: ellipse(40% 20% at center); */
    clip-path: polygon(50% 0%,100% 100%,0% 100%);
}

