/* ESTILOS GLOBALES */

html, body {
  height: 100%; /* Ocupar todo la pantalla */
  margin: 0;
  font-family: "Raleway";
  box-sizing: border-box;
}

/* ESTILOS DEL HEADER */

.header {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  background-color: #21305f;
}

.main-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 300px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* ESTILOS SECCIÓN MAIN */

.main-section {
  display: flex;
  flex-direction: row;
  /* Centra el conjunto de texto e imagen */
  justify-content: center;
  align-items: center;
  min-height: 100%; /* Ocupar todo la pantalla a partir del nav, como especifiqué en el body*/
  /* Distancia entre el texto y el SVG */
  gap: 40px;
  background-color: #f7f7f7;
  box-sizing: border-box;
  width: 100%;
}

/* ESTILOS BLOQUE DE TEXTO */

.contenido-texto {
  text-align: left;
  width: 400px;
  max-width: 400px;
}

.contenido-texto h1 {
  font-size: 48px;
  margin-bottom: 10px;
  line-height: 1.1;
  color: #333;
  font-weight: 700;
}
.contenido-texto p {
  font-size: 18px;
  color: #666;
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 400;
}

/* ESTILOS DEL BOTÓN */

.btn-aprender {
  background-color: #6a5acd;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.btn-aprender:hover {
  background-color: #5345b5;
}
