* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

img {
  width: 350px;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0004);

  transform: perspective(800px) rotateY(20deg); /*perspective genera el tercer eje de las dimensiones*/
  transition: transform 0.5s;
}

.container:hover img {
  opacity: 0.1;
}

.container img:hover {
  transform: perspective(800px) rotateY(0deg);
  opacity: 1;
  transition: transform 0.5s;
}
