* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.flip-card {
    width: 600px;
    height: 380px;
    border: thick solid #000;
    margin: 0 auto;
    margin-bottom: 80px;

    position: relative;
    cursor: pointer;

    perspective: 10rem; /* Crea la perspectiva 3D */
    transform-style: preserve-3d; /* Mantiene la perspectiva 3D */

    transition: transform 1s;
}

.flip-card:hover {
    transform: rotateY(180deg);
}

.flip-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.flip-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Oculta la parte/img trasera */
}

.flip-front {
    transform: rotateY(0deg);
}

.flip-back {
    transform: rotateY(180deg);
}
