@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");

@theme {
  --font-alata: "Alata", sans-serif;
  --font-josefin: "Josefin Sans", sans-serif;
}
